body {
    background-color: #FFF2D7;
}

#MousepadLogo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

#search-bar {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

/* 1/8" or 0.125 = 13 pixels */

.responsive-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    max-height: auto;
}

#bleed {
    border: 13px solid lightblue; /* Fixes border around the image */
    box-sizing: border-box; /* Includes padding in the total width/height */
}

#safety {
    border: 13px solid lightcoral; 
    box-sizing: border-box; 
}

#border {
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

#border img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2,
form {
    display: flex;
    justify-content: center;
}

/* Small Container: (18" x 15") */
/* Large Container: (36" x 18") */
/* XXL Container: (48" x 24") */